/* 
    Dark Blue:  #22293C
*/

/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

h1, button, .searchbar input {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 10px;
    color: #FFF;
    margin-bottom: 1em;
    border: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #FFF;
    font-weight: 600;
}

/* LOADING SCREEN */

/* 
    Since I am not using Javascript for this project, I am unable to animate the display property.
    Instead the CSS below animates the opacity, height, width and position of the div to make it disappear.
    This is not good practice and will interfere with accessibility.
*/

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #22293C;
    animation: fade-out 1.5s linear 2s 1 normal forwards, disappear .5s linear 3.5s normal forwards;
}

.loading h1 {
    animation: fade-out 1s linear 1s 1 normal forwards, disappear .5s linear 2.5s normal forwards;
}

.loading hr {
    border: 0;
    width: 14em;
    border-top: 1px solid #FFF;
    animation: load 1s ease-out 0s 1 normal forwards, fade-out 1s linear 1s 1 normal forwards, disappear .5s linear 2s normal forwards;
}

@keyframes fade-out {
    0% {
        opacity: 100;
    }
    70% {
        opacity: 99;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes load {
    0% {
        width: 0em;
    }
    50% {
        width: 14em;
    }
    99% {
        width: 14em;
    }
}

@keyframes disappear {
    from {
        width: 100%;
    }
    to {
        width: 0%;
        height: 0%;
        position: absolute;
        border: 0;
        margin: 0;
    }
}

/* NAVIGATION */
/* Based on these codepens: https://codepen.io/artyprog/pen/YMeERJ & https://codepen.io/Tont/pen/hdsev */

/*Style for menu icon*/
ul#menu {
    position: fixed;
    top: 0;
    color: #22293C;
    z-index: 1;
}

ul#menu>li {
    float: left;
    list-style-type: none;
    position: relative;
}

label {
    position: relative;
    display: block;
    padding: 0 18px 0 12px;
    line-height: 3em;
    cursor: pointer;
    z-index: 1;
}

input:checked~label {
    background: rgb(255, 255, 255);
}

/*hide the inputs*/
#check01 {
    display: none
}

/*show the vertical menu*/
input:checked~ul.submenu {
    max-height: 100vh;
    transition: max-height 0.5s ease-in;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    top: 0;
    left: 0;
    padding-top: 4em;
}

/*style for the menu*/
ul.submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #FFF;
    position: absolute;
    min-width: 100%;
}

ul.submenu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    text-decoration: none;
    white-space: nowrap;
}

ul.submenu li p,
ul.submenu h1 {
    color: #22293C;
}

ul.submenu h1 {
    position: absolute;
    top: 0;
    left: 72px;
}

ul.submenu li button {
    font-size: 16px;
    font-weight: 500;
    padding: 7px 2em;
    color: #FFF;
    background-color: #22293C;
    width: 284px;
    height: 58px;
}
button:hover {
    cursor: pointer;
}

.searchbar {
    border: 1px solid #22293C;
    padding: 1em;
    position: relative;
    width: 250px;
}
.searchbar p {
    position: absolute;
    top: -7px;
    background-color: #FFF;
    padding: 0 7px;
}
.searchbar input {
    border: none;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 18px !important;
    color: #22293C;
    margin: 0;
    width: 95%;
}

/* CONTENT */

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.package {
    min-width: 0;
    height: 0;
    background-position: center;
    background-size: cover;
    animation: appear 0s linear 2.5s 1 normal forwards, fade-in 1.5s linear 2.5s 1 normal forwards;
}

.package h1 {
    margin-bottom: .5em;
}

#adventure {
    background-image: url(https://images.pexels.com/photos/6108085/pexels-photo-6108085.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

#romantic {
    background-image: url(https://images.pexels.com/photos/6401667/pexels-photo-6401667.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

#vacation {
    background-image: url(https://images.pexels.com/photos/3889843/pexels-photo-3889843.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

@keyframes appear {
    from {
        width: 0;
        height: 0;
    }
    to {
        min-width: 33.33%;
        height: 100%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    70% {
        opacity: 99;
    }
    100% {
        opacity: 100;
    }
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #22293C;
    transition: opacity .5s;
}

.cover:hover {
    cursor: pointer;
    opacity: 0.7;
}