/* 
    Dark Blue:  #22293C
*/

/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 10px;
    color: #FFF;
    margin-bottom: 1em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #FFF;
    font-weight: 600;
}

/* LOADING SCREEN */

/* 
    Since I am not using Javascript for this project, I am unable to animate the display property.
    Instead the CSS below animates the opacity, height, width and position of the div to make it disappear.
    This is not good practice and will interfere with accessibility.
*/

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #22293C;
    animation: fade-out 1.5s linear 2s 1 normal forwards,
                disappear .5s linear 3.5s normal forwards;
}

.loading h1 {
    animation: fade-out 1s linear 1s 1 normal forwards,
                disappear .5s linear 2.5s normal forwards;
}

.loading hr {
    border: 0;
    width: 14em;
    border-top: 1px solid #FFF;
    animation: load 1s ease-out 0s 1 normal forwards,
                fade-out 1s linear 1s 1 normal forwards,
                disappear .5s linear 2s normal forwards;
}

@keyframes fade-out {
    0% {opacity: 100;} 
    70% {opacity: 99;}
    90% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes load {
    0% {width: 0em;}
    50% {width: 14em;}
    99% {width: 14em;}
}

@keyframes disappear {
    from {width: 100%;}
    to {width: 0%; height: 0%; position: absolute; border: 0; margin: 0;}
}

/* CONTENT */
.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.package {
    min-width: 0;
    height: 0;
    background-position: center;
    background-size: cover;
    animation: appear 0s linear 2.5s 1 normal forwards,
                fade-in 1.5s linear 2.5s 1 normal forwards;
}

.package h1 {
    margin-bottom: .5em;
}

#adventure {
    background-image: url(https://images.pexels.com/photos/6108085/pexels-photo-6108085.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}
#romantic {
    background-image: url(https://images.pexels.com/photos/6401667/pexels-photo-6401667.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}
#vacation {
    background-image: url(https://images.pexels.com/photos/3889843/pexels-photo-3889843.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

@keyframes appear {
    from {width: 0; height: 0;}
    to {min-width: 33.33%; height: 100%;}
}

@keyframes fade-in {
    0% {opacity: 0;} 
    10% {opacity: 0;}
    70% {opacity: 99;}
    100% {opacity: 100;}
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #22293C;
    transition: opacity .5s;
}
.cover:hover {
    cursor: pointer;
    opacity: 0.7;
}